.profile-picture {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
}

.profile-picture.initials {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-left: -5px;
    margin-top:5px;
    margin-right: 8px;
}
.dropdown-menu .profile-picture {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px; 
    vertical-align: middle;
    font-size: 50px; 
}
#main .profile .photo-label {
    display: none;
}
#w1.panel {
    margin-bottom: 0;
}
