.profile-picture {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 19px;
}

.profile-picture.initials {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
